<div class="banner">
  <div class="container">
    <h1>Cheaporooms</h1>
    <h2>The cheapest of the cheap to sleep.</h2>
    <%= link_to "show me the rooms", rooms_path, class:"cool-button" %>
  </div>
</div>
