.form-wrapper {
  background-color: $light-gray;
  border: solid black 1px;
  border-radius: $border-radius;
  padding: 24px 16px;
  h2 {
    text-align: center;
  }
}

.room-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.totals {
  display: flex;
  font-size: 20px;
  .total-bold {
    margin-left: 4px;
    font-weight: 600;
  }
}

.calendar {
  display: flex;
  justify-content: center;
}

.form-button {
  display: flex;
  justify-content: center;
}
