.banner {
  border-bottom: solid black 1px;
  padding-top: 150px;
  padding-bottom: 75px;
  .container {
    text-align: center;
  }
  h1 {
    font-family: $headers-font;
    font-weight: 600;
  }
  h2 {
    font-family: $body-font;
    margin-bottom: 36px;
  }
}
